@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #05058C;
  padding: 32px 87px;
  position: relative;
}

.container__navigations__mobile {
  display: none;
}

.header__container {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #F4F2FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__logo__link {
  display: flex;
  align-items: center;
}

.container__navigations {
  display: flex;
  align-items: center;
  gap: 40px;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
}

.items-dropdown {
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 41px;
  position: absolute;
  top: 40px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}


.poligon {
  position: absolute;
  top: -10px;
  left: 10px;
}

.item-dropdown {
  width: 390px;
  font-size: 18px;
  line-height: 24px;
  color: #000033;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.item-dropdown:hover {
  background-color: #CCCCD6;
  border-radius: 8px;
}

.link {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.link:link {
  color: #F4F2FA;
}

.link:visited {
  color: #F4F2FA;
}

.container__button__link {
  max-width: 182px;
  width: 100%;
}

.container__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #F4F2FA;
  width: 100%;
  padding: 16px 0;
  border: 1px solid #F4F2FA;
  border-radius: 4px;
  background-color: #05058C;
  cursor: pointer;
}

.footer {
  margin-bottom: 111px;
}

.footer__container {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
  color: #000033;
  padding: 0 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  margin-bottom: 48px;
}

.items-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.main {
  flex: 1 1 auto;
}

.banner {
  background:
  url(./assets/images/background.png)
  no-repeat
  bottom right,
  url(./assets/images/background-figures.png)
  no-repeat
  bottom right
  #05058C;
  padding: 147px 144px 56px 144px;
}

.info-banner {
  width: 100%;
  margin-bottom: 67px;
}

.title-banner {
  max-width: 607px;
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  margin-bottom: 72px;
}

.links-wrapper {
  display: flex;
  align-items: center;
  gap: 55px;
  margin-bottom: 72px;
}

.button-banner__link {
  max-width: 188px;
  width: 100%;
}

.button-banner {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 14px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.link-banner {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tasks-banner {
  display: flex;
  gap: 26px;
}

.task {
  max-width: 150px;
}

.task-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

.task-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider {
  position: relative;
}

.slider .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  width: 24px;
  height: 24px;
  border: none;
  left: 0;
  background: url(./assets/icons/arrow-left-circle.png) 0 0 no-repeat;
  cursor: pointer;
}

.slider .slick-arrow.slick-next {
  width: 24px;
  height: 24px;
  border: none;
  right: 0;
  background: url(./assets/icons/arrow-right-circle.png) 0 0 no-repeat;
  cursor: pointer;
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slick-dots li {
  list-style: none;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 54px;
  height: 8px;
  background-color: #CECFFB;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.slider .slick-dots li.slick-active button {
  background-color: #ffffff;
}

.catalog {
  padding: 128px 0 0 0;
  margin-bottom: 128px;
}

.catalog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-catalog__wrapper {
  height: 199px;
  padding: 16px 25px 0 25px;
}

.item-catalog__link {
  padding: 0 0 16px 25px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.title-catalog {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  font-family: 'Montserrat', sans-serif;
  color: #000033;
  margin-bottom: 48px;
}

.items-catalog {
  max-width: 1246px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item-catalog {
  max-width: 400px;
  width: 100%;
  border: 0.5px solid #CCCCD6;
  border-radius: 8px;
}

.item-catalog__footer {
  width: 100%;
  height: 7px;
  background-color: #05058C;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.item-catalog__header {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.item-catalog__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #000033;
}

.item-catalog__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #4D4D70;
  margin-bottom: 16px;
}

.item-catalog__link-text {
  font-weight: 500;
  color: #000033;
}

@media (max-width: 1260px) {
  .items-catalog {
    max-width: 1000px;
    gap: 17px;
  }

  .item-catalog {
    max-width: 320px;
    width: 100%;
  }
}

@media (max-width: 1213px) {
  .container__navigations {
    gap: 17px;
  }
}

@media (max-width: 1140px) {
  .header {
    padding: 16px;
  }

  .header__container,
  .link {
    font-size: 14px;
    line-height: 16px;
  }

  .container__logo {
    width: 55px;
    height: 18px;
  }

  .items-dropdown {
    padding: 15px;
    gap: 20px;
  }

  .text-item {
    font-size: 14px;
    line-height: 16px;
  }

  .container__button {
    font-size: 14px;
    line-height: 20px;
    max-width: 123px;
    width: 100%;
    padding: 8px 0;
  }
  
  .banner {
    background:
    url(./assets/images/background.png)
    no-repeat
    bottom right /
    contain,
    url(./assets/images/background-figures.png)
    no-repeat
    bottom right /
    calc(min(390px, 100%))
    #05058C;
    padding: 24px 16px 21px 16px;
  }

  .title-banner {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .button-banner {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    max-width: 140px;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
  }

  .link-banner {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .task-title {
    font-size: 24px;
    line-height: 24px;
  }

  .task-text {
    font-size: 14px;
    line-height: 16px;
  }

  .title-catalog {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 64px;
  }

  .items-catalog {
    max-width: 860px;
    gap: 17px;
  }

  .item-catalog {
    max-width: 200px;
    width: 100%;
  }

  .item-catalog__title,
  .item-catalog__text {
    font-size: 16px;
    line-height: 20px;
  }

  .title-container {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }

  .items-container img {
    height: 32px;
  }
}

@media (max-width: 875px) {
  .items-catalog {
    max-width: 640px;
    gap: 16px;
  }
}

@media (min-width: 835px) {
  .burger {
    display: none;
  }
}

@media (max-width: 834px) {
  .items-catalog {
    max-width: 440px;
  }

  .item-catalog {
    max-width: 134px;
    width: 100%;
  }

  .item-catalog__header {
    flex-direction: column;
    align-items: flex-start
  }

  .item-catalog__wrapper {
    height: 160px;
    padding: 9px 9px 0 9px;
  }

  .item-catalog__link {
    padding: 0 0 7px 9px;
  }

  .item-catalog__text {
    display: none;
  }

  .banner {
    background:
    url(./assets/images/background.png)
    no-repeat
    bottom right -30px /
    170px 190px,
    url(./assets/images/background-figures.png)
    no-repeat
    bottom right -30px /
    calc(min(180px, 100%))
    #05058C;
  }


  .tasks-banner {
    flex-wrap: wrap;
    gap: 16px;
  }

  .catalog {
    padding-top: 64px;
    margin-bottom: 64px;
  }

  .footer__container {
    padding: 0 16px;
  }

  .items-container {
    gap: 10px;
  }

  .container__navigations__mobile {
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 12px 16px 0 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .container__navigations {
    display: none;
  }

  .burger {
    margin-right: 16px;
    cursor: pointer;
  }

  .navigations__images-wrapper {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-mobile {
    width: 55px;
  }

  .close {
    cursor: pointer;
  }

  .dropdown-mobile {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #05058C;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  .link-mobile {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #05058C;
    margin-bottom: 32px;
    text-decoration: none;
  }

  .items-dropdown-mobile {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    display: none;
  }

  .item-dropdown-mobile {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .item-dropdown-mobile:hover {
    background-color: #F4F2FA;
  }

  .text-item-mobile {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #000033;
  }

  .line {
    margin: 12px 0;
  }
}

@media (max-width: 486px) {
  .task {
    max-width: 145px;
  }

  .task-text {
    max-width: 128px;
  }

  .items-catalog {
    max-width: 290px;
  }

  .title-catalog {
    text-align: center;
  }

  .items-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
  }
}